body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 0;
    margin: 0;
    text-align: center;
    height: 100vh;
}

h1{
    font-size: 3.5rem;
    color: rgb(67, 88, 88);
}

#chooses button{
    width: 150px;
    height: 150px;
    font-size: 70px;
    border-radius: 50%;
    margin:20px;
    background-color: #1026e7;
    transition:0.5s;
}
#chooses button:hover{
    background-color: #1e2243;

}

#player,#computer{
    font-size: 50px;
    margin: 10px 0;
    color: rgb(74, 69, 69);
}
#result{
    font-size: 70px;
    color: rgb(87, 82, 82);

}

#playerWon,#computerWon{
    color: #e45807;
    font-size: 25px;
    margin-top: 20px;
}